{% extends "blog/base.html" %}

{% block content %}    
    {% for post in posts %}
        <article class="media content-section">
            <div class="d-flex">
                <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                <div class="w-100">
                    <div class="article-metadata d-flex align-items-end justify-content-between">
                        <a class="mr-2" href="{% url 'user-posts' post.author.username %}">@{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted|date:"d F, Y" }}</small>
                    </div>
                    <h3><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h3>
                </div>
            </div>
            <p class="article-content">{{ post.content }}</p>
      </article>
    {% endfor %}
    <!-- Pagination Controls -->
    {% if is_paginated %}
        <nav class="d-flex justify-content-center my-4">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                
                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                    <li class="page-item disabled">
                        <a href="?page={{num}}" class="page-link">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                    </li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock content %}