{% extends "blog/base.html" %}
{% block content %}    
    <style>
        .media {
            display: flex;
            flex-direction: row;
        }
        .media-body {
            width: 90%;
        }
    </style>
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">@{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"d F, Y" }}</small>
            </div>
            <h2 class="article-title">
                {{ object.title }}
            </h2>
            <p class="article-content">{{ object.content }}</p>
            {% if object.author == user %}
                <div class="d-flex gap-2 mt-3 mb-2">
                    <a class="btn btn-secondary btn w-100" href="{% url 'post-update' object.id %}">Update Post</a>
                    <a class="btn btn-danger btn w-100" href="{% url 'post-delete' object.id %}">Delete Post</a>
                </div>
            {% endif %}
        </div>
    </article>
{% endblock content %}