{% extends 'blog/base.html' %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group mb-2">
                <legend class="border-bottom">Delete Post</legend>
                <h4>Are you sure you want to delete the post "{{ object }}"?</h4>
            </fieldset>
            <div class="d-flex justify-content-center gap-3">
                <button class="btn btn-outline-danger w-100" type="submit">Yes, Delete</button>
                <a class="btn btn-outline-secondary w-100" href="{% url 'post-detail' post.id %}">No, Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}