{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        .submit-btn {
            color:  #1c8aff;
            border-color: #1c8aff;
        }

        .submit-btn:hover {
            color: white;
            background-color: #1c8aff;
            border-color: #1c8aff;
        }

        .sign-in:hover {
            text-decoration: underline;
        }
    </style>
    <div class="content-section">
        <form class="mb-3" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Log In!</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info submit-btn mr-3" type="submit">Log In</button>
                <small>
                    <a class="sign-in" href="{% url 'password_reset' %}">Forgot Password?</a>
                </small>
            </div>
        </form>
        <div class="border-top pt-2">
            <small class="text-muted">
                Don't Have An Account? <a class="ml-2 sign-in" href="{% url 'register' %}">Sign Up</a>
            </small>
        </div>
    </div>
{% endblock %}