{% extends 'blog/base.html' %}
{% block content %}
    <style>
        .sign-in {
            margin-right: 20px;
        }

        .sign-in:hover {
            text-decoration: underline;
        }
    </style>
    <h3>You have been logged out!</h3>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a class="sign-in lead" href="{% url 'login' %}">Log In</a>
            <a class="sign-in lead" href="{% url 'register' %}">Register New Account</a>
        </small>
    </div>
{% endblock %}