{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        .submit-btn {
            color:  #1c8aff;
            border-color: #1c8aff;
        }

        .submit-btn:hover {
            color: white;
            background-color: #1c8aff;
            border-color: #1c8aff;
        }

        .sign-in:hover {
            text-decoration: underline;
        }
    </style>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Password Reset Form</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mb-3 submit-btn" type="submit">Change Password</button>
            </div>
        </form>
    </div>
{% endblock %}