{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        .submit-btn {
            color:  #1c8aff;
            border-color: #1c8aff;
        }

        .submit-btn:hover {
            color: white;
            background-color: #1c8aff;
            border-color: #1c8aff;
        }

        .abc {
            align-items: center;    
            justify-content: center;
        }
    </style>
    <div class="content-section">
        <div class="d-flex flex-column abc gap-1 pt-3">
            <img src="{{ user.profile.image.url }}" alt="" class="rounded-circle account-img m-0">
            <h2 class="account-heading m-0">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info submit-btn w-100" type="submit">Update</button>
            </div>
        </form>
    </div>
{% endblock %}